# logs
logs/

# intelliJ
.idea/
*.iml
out/

# maven
.flattened-pom.xml
bin/
**/target/

# our self-made build folder
/Build/

# macOS
.DS_Store

# vsCode
Extensions/BlockReplacePackets/.classpath
.vscode/launch.json

# eclipse
.classpath
.project
.settings/

# Certificates
*.p12
*.pem
*.crt
*.key
